API_URL: 'https://api-staging.andela.com/'
LOGIN_URL: 'https://api-staging.andela.com/login?redirect_url='
LOGOUT_URL: 'https://api-staging.andela.com/logout?redirect_url='
POSTGRES_USER: 'vof-tracker'
POSTGRES_PASSWORD: ''
POSTGRES_HOST: 'localhost'
POSTGRES_DB: 'vof-tracker'
PERMISSIONS: 'SOME PERMISSIONS'
BUGSNAG_KEY: 'SOME KEY'
TEST_URL: 'https://api-staging.andela.com/logout?redirect_url=http://test.host:80/login'
SEGMENT_KEY: 'SOME KEY'