@import "puffly";

$primary-color: rgb(255,87,34);
body {
    height: 100%;
    margin: 0 !important;
}

.login-container {
    display: block;
    height: 100vh;
    background-color: #3359DF;
}

.header {
    position: relative;
    display: block;
    height: 50px;
    padding: 1em 2em;
    .logo {
        display: inline-block;
        height: 35px;
        width: 35px;
        background-image: image-url("logo-a.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .text {
        position: absolute;
        display: inline-block;
        font-weight: 300;
        top: 0.8em;
        left:3em;
        color: #fff;
    }
}

.content {
    display: block;
    margin-top: 12%;
    .flash-message {
      width: 35em;
      font-weight: 300;
      margin: 0 auto;
      text-align: center;
      color: #fff;
    }
    .welcome {
        display: block;
        text-align: center;
        padding: 01em;
        h1 {
            font-size: 2em;
            color: #FFF;
            margin-bottom: 1.3em !important;
        }
    }
}

.login-button {
    padding-right:1em;
    display: inline-block;
    background: #FFF;
    border-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    text-align: center;
}

.login-icon {
    position: relative;
    display: inline-block;
    width: 4em;
    background: #ccc;
}

.login-text {
    display: inline-block;
    padding: 1.49em;
    padding-left: 2.4em !important;
    margin-left: 0 !important;
    border-left: 1px solid lighten(#000, 70%);
    text-decoration: none;
    color: lighten(#000, 40%);
    font-size: .7em !important;
    margin-left: 1.3em;
}

.image {
    display: inline-block;
    position: absolute;
    left: 54%;
    top:-.3em;
    transform: translate(-50%, -50%);

    background-image: image-url("logo-g.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    width: 1.5em;
    height: 1.5em;
}

// overrides puffly's default styles
#puffly {
    background-color: black !important;
    position: absolute !important;
    left:50% !important;
    bottom: 35%;
    transform: translate(-50%, 0);
    font-size: .9em !important;
}
